*{
  font-family:sans-serif;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(166, 166, 166) ;
}

.side-bar{
  display: flex;
  width: 50vw;
  height: 96vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 52);
  color: aliceblue;
  font-size: xx-large;
}

.container{
  width: 48vw;
  padding-left: 2vw;
  padding-top: 4vh;
  height: 92vh;
}


.container div{
  margin-bottom: 40px;
}

.container div h1{
  margin-bottom: 10px;
}

button{
  border: none;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(203, 203, 203);
  border-radius: 5px;
  width: 100px;
  height: 30px
}

button:hover{
  background-color: rgb(34, 34, 71);
  color: white;
}